# income csv to dataframe

In [2]:
import pandas as pd

income = pd.read_csv (r'kaggle_income.csv')
print (income)

            id  State_Code   State_Name State_ab              County  \
0      1011000           1      Alabama       AL       Mobile County
1      1011010           1      Alabama       AL      Barbour County
2      1011020           1      Alabama       AL       Shelby County
3      1011030           1      Alabama       AL       Mobile County
4      1011040           1      Alabama       AL       Mobile County
...        ...         ...          ...      ...                 ...
32521   720296          72  Puerto Rico       PR  Adjuntas Municipio
32522  7202966          72  Puerto Rico       PR  Adjuntas Municipio
32523  7202976          72  Puerto Rico       PR  Adjuntas Municipio
32524  7202986          72  Puerto Rico       PR  Adjuntas Municipio
32525  7202996          72  Puerto Rico       PR  Adjuntas Municipio

                 City            Place   Type Primary  Zip_Code Area_Code  \
0           Chickasaw   Chickasaw city   City   place     36611       251
1          Louisville        Clio city   City   place     36048       334
2          Columbiana  Columbiana city   City   place     35051       205
3             Satsuma      Creola city   City   place     36572       251
4      Dauphin Island   Dauphin Island   Town   place     36528       251
...               ...              ...    ...     ...       ...       ...
32521        Guaynabo         Adjuntas  Track   Track       970       787
32522          Aguada         Adjuntas  Track   Track       602       787
32523          Aguada         Adjuntas  Track   Track       602       787
32524          Aguada         Adjuntas  Track   Track       602       787
32525       Aguadilla         Adjuntas  Track   Track       603       787

          ALand     AWater        Lat        Lon   Mean  Median  Stdev  \
0      10894952     909156  30.771450 -88.079697  38773   30506  33101
1      26070325      23254  31.708516 -85.611039  37725   19528  43789
2      44835274     261034  33.191452 -86.615618  54606   31930  57348
3      36878729    2374530  30.874343 -88.009442  63919   52814  47707
4      16204185  413605152  30.250913 -88.171268  77948   67225  54270
...         ...        ...        ...        ...    ...     ...    ...
32521    589417       1691  18.397925 -66.130633  30649   13729  37977
32522   1801613     795887  18.385424 -67.203310  15520    9923  15541
32523  11031227          0  18.356565 -67.180686  41933   34054  31539
32524         0   33597561  18.412041 -67.213413      0       0      0
32525   6476604    2717115  18.478094 -67.160453  28049   20229  33333

             sum_w
0      1638.260513
1       258.017685
2       926.031000
3       378.114619
4       282.320328
...            ...
32521  1321.278082
32522   238.813450
32523   313.551070
32524     0.000000
32525   512.884803

[32526 rows x 19 columns]

In [3]:
income_db = pd.DataFrame(income)
income_db

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32521,720296,72,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,787,589417,1691,18.397925,-66.130633,30649,13729,37977,1321.278082
32522,7202966,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,1801613,795887,18.385424,-67.203310,15520,9923,15541,238.813450
32523,7202976,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,11031227,0,18.356565,-67.180686,41933,34054,31539,313.551070
32524,7202986,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,0,33597561,18.412041,-67.213413,0,0,0,0.000000
32525,7202996,72,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,787,6476604,2717115,18.478094,-67.160453,28049,20229,33333,512.884803

In [4]:
for col in income_db.columns:
    print(col)

id
State_Code
State_Name
State_ab
County
City
Place
Type
Primary
Zip_Code
Area_Code
ALand
AWater
Lat
Lon
Mean
Median
Stdev
sum_w

In [5]:
clean_income_db = income_db.loc[:, ["State_Name", "City", "Zip_Code", "Mean", "Median", "Stdev", "Lat", "Lon"]]
clean_income_db

,State_Name,City,Zip_Code,Mean,Median,Stdev,Lat,Lon
0,Alabama,Chickasaw,36611,38773,30506,33101,30.771450,-88.079697
1,Alabama,Louisville,36048,37725,19528,43789,31.708516,-85.611039
2,Alabama,Columbiana,35051,54606,31930,57348,33.191452,-86.615618
3,Alabama,Satsuma,36572,63919,52814,47707,30.874343,-88.009442
4,Alabama,Dauphin Island,36528,77948,67225,54270,30.250913,-88.171268
...,...,...,...,...,...,...,...,...
32521,Puerto Rico,Guaynabo,970,30649,13729,37977,18.397925,-66.130633
32522,Puerto Rico,Aguada,602,15520,9923,15541,18.385424,-67.203310
32523,Puerto Rico,Aguada,602,41933,34054,31539,18.356565,-67.180686
32524,Puerto Rico,Aguada,602,0,0,0,18.412041,-67.213413
32525,Puerto Rico,Aguadilla,603,28049,20229,33333,18.478094,-67.160453

In [6]:
clean_income_db = clean_income_db[(clean_income_db[['Mean', 'Median', 'Stdev']] != 0).all(axis=1)]
clean_income_db

,State_Name,City,Zip_Code,Mean,Median,Stdev,Lat,Lon
0,Alabama,Chickasaw,36611,38773,30506,33101,30.771450,-88.079697
1,Alabama,Louisville,36048,37725,19528,43789,31.708516,-85.611039
2,Alabama,Columbiana,35051,54606,31930,57348,33.191452,-86.615618
3,Alabama,Satsuma,36572,63919,52814,47707,30.874343,-88.009442
4,Alabama,Dauphin Island,36528,77948,67225,54270,30.250913,-88.171268
...,...,...,...,...,...,...,...,...
32520,Puerto Rico,Adjuntas,601,23682,15051,30309,18.155582,-66.701046
32521,Puerto Rico,Guaynabo,970,30649,13729,37977,18.397925,-66.130633
32522,Puerto Rico,Aguada,602,15520,9923,15541,18.385424,-67.203310
32523,Puerto Rico,Aguada,602,41933,34054,31539,18.356565,-67.180686
32525,Puerto Rico,Aguadilla,603,28049,20229,33333,18.478094,-67.160453

# US Represenation JSON

In [7]:
import requests
import json

In [8]:
# import json

# us_rep = 'us_representation.json'

# with open (file=us_rep, mode='r') as read_file:
#     object=json.load(read_file)
#     pretty_object = json.dumps(object, indent=4)
#     print(pretty_object)

In [9]:
us_representation_db = pd.read_json(r'us_representation.json', orient='index')
us_representation_db

,divisions,kind,officials,offices,normalizedInput
11542,{'ocd-division/country:us/state:ny/county:nass...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Glen Cove', 'state': 'NY', 'zip': '1..."
11547,{'ocd-division/country:us/state:ny/county:nass...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Glenwood Landing', 'state': 'NY', 'z..."
11545,{'ocd-division/country:us/state:ny/county:nass...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Glen Head', 'state': 'NY', 'zip': '1..."
11548,{'ocd-division/country:us/state:ny/county:nass...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Greenvale', 'state': 'NY', 'zip': '1..."
11549,{'ocd-division/country:us/state:ny/county:nass...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Hempstead', 'state': 'NY', 'zip': '1..."
...,...,...,...,...,...
38342,{'ocd-division/country:us/state:tn/county:carr...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Hollow Rock', 'state': 'TN', 'zip': ..."
38345,{'ocd-division/country:us/state:tn': {'officeI...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Huron', 'state': 'TN', 'zip': '38345..."
38344,{'ocd-division/country:us/state:tn/county:carr...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Huntingdon', 'state': 'TN', 'zip': '..."
38347,{'ocd-division/country:us/state:tn': {'officeI...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Jacks Creek', 'state': 'TN', 'zip': ..."
38346,{'ocd-division/country:us/state:tn/county:gibs...,civicinfo#representativeInfoResponse,"[{'name': 'Donald J. Trump', 'phones': ['(202)...","[{'divisionId': 'ocd-division/country:us', 'le...","{'city': 'Idlewild', 'state': 'TN', 'zip': '38..."

In [15]:
us_representation_db['officials'][11542]

[{'name': 'Donald J. Trump',
  'phones': ['(202) 456-1111'],
  'channels': [{'type': 'GooglePlus', 'id': '+whitehouse'},
   {'type': 'Facebook', 'id': 'whitehouse'},
   {'type': 'Twitter', 'id': 'whitehouse'}],
  'urls': ['http://www.whitehouse.gov/'],
  'address': [{'city': 'Washington',
    'state': 'DC',
    'zip': '20500',
    'line2': '1600 Pennsylvania Avenue NW',
    'line1': 'The White House'}],
  'party': 'Republican'},
 {'name': 'Mike Pence',
  'phones': ['(202) 456-1111'],
  'channels': [{'type': 'GooglePlus', 'id': '+whitehouse'},
   {'type': 'Facebook', 'id': 'whitehouse'},
   {'type': 'Twitter', 'id': 'whitehouse'}],
  'urls': ['http://www.whitehouse.gov/'],
  'address': [{'city': 'Washington',
    'state': 'DC',
    'zip': '20500',
    'line2': '1600 Pennsylvania Avenue NW',
    'line1': 'The White House'}],
  'party': 'Republican'},
 {'name': 'Charles E. Schumer',
  'photoUrl': 'http://bioguide.congress.gov/bioguide/photo/S/S000148.jpg',
  'phones': ['(202) 224-6542'],
  'channels': [{'type': 'Facebook', 'id': 'chuckschumer'},
   {'type': 'Twitter', 'id': 'SenSchumer'},
   {'type': 'YouTube', 'id': 'SenatorSchumer'}],
  'urls': ['http://www.schumer.senate.gov/'],
  'address': [{'city': 'Washington',
    'state': 'DC',
    'zip': '20510',
    'line1': '322 Hart Senate Office Building'}],
  'party': 'Democratic'},
 {'name': 'Kirsten E. Gillibrand',
  'photoUrl': 'http://bioguide.congress.gov/bioguide/photo/G/G000555.jpg',
  'phones': ['(202) 224-4451'],
  'channels': [{'type': 'Facebook', 'id': 'KirstenGillibrand'},
   {'type': 'Twitter', 'id': 'SenGillibrand'},
   {'type': 'YouTube', 'id': 'KirstenEGillibrand'}],
  'urls': ['http://www.gillibrand.senate.gov/'],
  'address': [{'city': 'Washington',
    'state': 'DC',
    'zip': '20510',
    'line1': '478 Russell Senate Office Building'}],
  'party': 'Democratic'},
 {'name': 'Thomas R. Suozzi',
  'phones': ['(202) 225-3335'],
  'channels': [{'type': 'Facebook', 'id': 'RepTomSuozzi'},
   {'type': 'Twitter', 'id': 'RepTomSuozzi'}],
  'urls': ['https://suozzi.house.gov/'],
  'address': [{'city': 'Washington',
    'state': 'DC',
    'zip': '20515',
    'line1': '226 Cannon House Office Building'}],
  'party': 'Democratic'},
 {'name': 'Andrew M. Cuomo',
  'photoUrl': 'http://www.governor.ny.gov/assets/images/Cuomobio.jpg',
  'phones': ['(518) 474-8390'],
  'channels': [{'type': 'Twitter', 'id': 'nygovcuomo'},
   {'type': 'Facebook', 'id': 'GovernorAndrewCuomo'}],
  'urls': ['http://www.governor.ny.gov/'],
  'address': [{'city': 'Albany',
    'state': 'NY',
    'zip': '12224',
    'line1': 'NYS State Capitol Building'}],
  'party': 'Democratic'},
 {'phones': ['(518) 474-8390'],
  'party': 'Democratic',
  'name': 'Kathy Hochul',
  'address': [{'city': 'Albany',
    'state': 'NY',
    'zip': '12224',
    'line1': 'NYS State Capitol Building'}]},
 {'phones': ['(516) 571-2120'],
  'party': 'Unknown',
  'name': 'Michael Sposato',
  'urls': ['http://www.nassaucountyny.gov/agencies/Sheriff/index.html'],
  'address': [{'city': 'East Meadow',
    'state': 'NY',
    'zip': '11554',
    'line1': '100 Carman Avenue,'}]},
 {'name': 'George Maragos',
  'phones': ['(516) 571-2386'],
  'channels': [{'type': 'GooglePlus', 'id': '105502357483331220496'},
   {'type': 'Facebook', 'id': 'NCComptroller'},
   {'type': 'Twitter', 'id': 'NCComptroller'}],
  'urls': ['http://www.nassaucountyny.gov/1590/County-Comptrollers-Office'],
  'address': [{'city': 'Mineola',
    'state': 'NY',
    'zip': '11501',
    'line2': '240 Old Country Road',
    'line1': 'Nassau County Comptrollers Office'}],
  'party': 'Unknown',
  'emails': ['NCComptroller@NassauCountyNY.gov']},
 {'name': "Maureen O'Connell",
  'phones': ['(516) 571-2664'],
  'channels': [{'type': 'Facebook', 'id': 'maureen.oconnell'},
   {'type': 'Twitter', 'id': 'clerkoconnell'}],
  'urls': ['http://www.nassaucountyny.gov/agencies/Clerk/index.html'],
  'address': [{'city': 'Mineola',
    'state': 'NY',
    'zip': '11501',
    'line1': '240 Old Country Road'}],
  'party': 'Unknown'},
 {'name': 'Edward Mangano',
  'phones': ['(516) 571-6000'],
  'channels': [{'type': 'Facebook', 'id': 'edwardmangano'},
   {'type': 'Twitter', 'id': 'edmangano'}],
  'urls': ['http://www.nassaucountyny.gov/agencies/CountyExecutive/Biography.html'],
  'address': [{'city': 'Mineola',
    'state': 'NY',
    'zip': '11501',
    'line1': '1550 Franklin Avenue'}],
  'party': 'Republican'},
 {'phones': ['(516) 571-2090'],
  'party': 'Unknown',
  'name': 'Beaumont Jefferson',
  'urls': ['http://www.nassaucountyny.gov/agencies/Treasurer/index.html'],
  'address': [{'city': 'Mineola',
    'state': 'NY',
    'zip': '11501',
    'line1': '1 West Street - First Floor'}]},
 {'name': 'Madeline Singas',
  'phones': ['(516) 571-3800'],
  'channels': [{'type': 'Twitter', 'id': 'NassauDA'}],
  'urls': ['http://www.nassaucountyny.gov/agencies/DA/index.html'],
  'address': [{'city': 'Mineola',
    'state': 'NY',
    'zip': '11501',
    'line1': '262 Old Country Road'}],
  'party': 'Democratic'},
 {'phones': ['(800) 771-7755'],
  'party': 'Democratic',
  'name': 'Eric T. Schneiderman',
  'channels': [{'type': 'Twitter', 'id': 'AGSchneiderman'}],
  'address': [{'city': 'Albany',
    'state': 'NY',
    'zip': '12224',
    'line1': 'Office of the Attorney General The Capitol'}]},
 {'name': 'Thomas P. DiNapoli',
  'phones': ['(518) 474-4044'],
  'channels': [{'type': 'Facebook', 'id': 'nyscomptroller'},
   {'type': 'Twitter', 'id': 'nyscomptroller'}],
  'address': [{'city': 'Albany',
    'state': 'NY',
    'zip': '12236',
    'line2': '110 State Street',
    'line1': 'Office of the State Comptroller'}],
  'party': 'Democratic',
  'emails': ['contactus@osc.state.ny.us']}]

In [27]:
officials = us_representation_db['officials'][11542][0]
officials

{'name': 'Donald J. Trump',
 'phones': ['(202) 456-1111'],
 'channels': [{'type': 'GooglePlus', 'id': '+whitehouse'},
  {'type': 'Facebook', 'id': 'whitehouse'},
  {'type': 'Twitter', 'id': 'whitehouse'}],
 'urls': ['http://www.whitehouse.gov/'],
 'address': [{'city': 'Washington',
   'state': 'DC',
   'zip': '20500',
   'line2': '1600 Pennsylvania Avenue NW',
   'line1': 'The White House'}],
 'party': 'Republican'}

# 2nd attempt at flattening json

In [29]:
import pandas as pd
from pathlib import Path
import json

In [31]:
p = Path(r'us_representation.json')

with p.open('r', encoding = 'utf-8') as f:
    data = json.loads(f.read())
    
officials = pd.json_normalize(data, record_path = '', meta = ['name', 'phone', 'party'])

KeyError: 'officials'